<%- include ('partials/header.ejs'); %>

<body>
    <%- include ('partials/navbar.ejs'); %>
    <div class="container">
        <div class="horario"> 
            <h3>
                <script language=javascript type="text/javascript">
                    now = new Date
                    document.write ("Data: "+now.getDate() + "/" + (now.getMonth()+1) + "/" + now.getFullYear()+" - "+now.getHours()+":"+now.getMinutes())
                </script>
        </div>
        
        </h3>
        <div class="botaoP">
            <a href="/perguntar"><button class="btn btn-success">Fazer uma pergunta!</button></a>
        </div>
        <hr>
        <div class="card">
            <h1 class="perguntaIndex">Site de perguntas e respostas anônimas. Veja as perguntas mais recentes e responda ou faça a sua agora mesmo!</h1>
        </div>  
        <hr>
        <br>
        <div class="card"><h3>Perguntas recentes:</h3></div>
        <br>
        <% perguntas.forEach(pergunta =>{ %>
            <div class="card">
                <div class="card-body">
                    <h3><%= pergunta.titulo %></h3>
                    <p><%= pergunta.dia %></p>
                </div>
                <div class="card-footer">
                    <a href="/responder/<%= pergunta.id %>"><button class="btn btn-dark">Responder</button></a>
                </div> 
            </div>
            <br>
        <% }) %>        
    </div>

</body>
<%- include ('partials/footer.ejs'); %>
