<%- include ('partials/header.ejs'); %>
<body>
    <%- include ('partials/navbar.ejs'); %>
        <div class="container">
            <hr>
            <div class="card">
                <div class="card-body">
                    <h1><%= pergunta.titulo %></h1>
                </div>
                <div class="card-footer">
                    <p><%= pergunta.descricao %></p>
                    <p><%= pergunta.dia %></p>
                </div>
            </div>
            <hr>
            <form method="POST" action="/salvarresposta">
                <textarea placeholder="Digite sua resposta..." class="form-control" name="resposta" required="true"></textarea>
                <br>
                <input type="hidden" name="perguntaId" value="<%= pergunta.id %>" >                
                <button type="submit" class="btn btn-success">Enviar resposta</button>
            </form>
            <br>
            <div class="respostas">
                <h3>Respostas:</h3>
                <br>
                <% respostas.forEach(resposta =>{ %>   
                    <div class="card-footer">
                        <h5><%= resposta.corpo %></h5>
                       <br><br>
                        
                    </div>
                    
                <% }) %>
                
            </div>
        </div>        
</body>
<%- include ('partials/footer.ejs'); %>